
/AutoTradeSystem/.vs
/AutoTradeSystem/AutoTradeSystem/bin
/AutoTradeSystem/AutoTradeSystem/obj
/AutoTradeSystem/AutoTradeSystem/logs
/AutoTradeSystem/AutoTradeSystemTests/bin
/AutoTradeSystem/AutoTradeSystemTests/obj
AutoTradeSystem/AutoTradeSystem/appsettings.json
/AutoTradeSystem/AutoTradeSystem.AppHost/obj
/AutoTradeSystem/AutoTradeSystem.ServiceDefaults/obj
/AutoTradeSystem/AutoTradeSystem.AppHost/bin
/AutoTradeSystem/AutoTradeSystem.ServiceDefaults/bin
