
/AutoTradeSystem/.vs
/AutoTradeSystem/AutoTradeSystem/bin
/AutoTradeSystem/AutoTradeSystem/obj
/AutoTradeSystem/AutoTradeSystem/logs
/AutoTradeSystem/AutoTradeSystemTests/bin
/AutoTradeSystem/AutoTradeSystemTests/obj
AutoTradeSystem/AutoTradeSystem/appsettings.json
